{# {% block skill1 %} #}
	<div class="skill">
		<table class="scoring">
			<thead>
				<td>Compétences</td>
				<td>Non Acquis</td>
				<td>En cours d'acquisition</td>
				<td>Acquis</td>
			</thead>
			<tbody>
				<tr class="AC">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="AC">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="AC">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="AC">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
			</tbody>
		</table>
	</div>
{# {% endblock %} #}
{# tr.AC*3>td*4 #}