<div class="skill container">
    <table class="table table-bordered text-center align-middle scoring">
        <thead class="table-light">
            <tr>
                <td colspan="3" class="skill-title fw-bold fs-5">♟ Compétence 2 : Optimiser des applications</td>
            </tr>
            <tr>
                <th scope="col">Non Acquis</th>
                <th scope="col">En cours d'acquisition</th>
                <th scope="col">Acquis</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-secondary">
                <td colspan="3" class="ac-title fw-semibold">AC1 : Choisir des structures de données complexes adaptées au problème</td>
            </tr>
            <tr>
                <td>Ignorer ou choisir de façon inadaptée les structures de données.</td>
                <td>Identifier partiellement ou utiliser incorrectement les structures de données adaptées.</td>
                <td class="table-success">Sélectionner et utiliser efficacement les structures de données les plus pertinentes selon le problème.</td>
            </tr>
            <tr>
                <td>Négliger l'impact des structures sur les performances.</td>
                <td>Considérer l'impact des structures de façon incomplète ou imprécise.</td>
                <td class="table-success">Analyser et justifier l'impact des choix de structures sur les performances de l'application.</td>
            </tr>
            <tr>
                <td>Utiliser une structure sans comprendre son fonctionnement.</td>
                <td>Identifier la structure mais l'utiliser de manière inappropriée ou inefficace.</td>
                <td class="table-success">Maîtriser l'utilisation des structures de données avancées dans des cas concrets.</td>
            </tr>
            <tr class="table-secondary">
                <td colspan="3" class="ac-title fw-semibold">AC2 : Utiliser des techniques algorithmiques adaptées pour des problèmes complexes</td>
            </tr>
            <tr>
                <td>Ignorer ou appliquer de façon inadaptée les techniques algorithmiques.</td>
                <td class="table-warning">Utiliser partiellement ou maladroitement des techniques adaptées.</td>
                <td>Appliquer avec pertinence et efficacité des techniques algorithmiques adaptées à la complexité du problème.</td>
            </tr>
            <tr>
                <td>Se limiter au bon fonctionnement sans chercher à optimiser.</td>
                <td>Optimiser ponctuellement ou de façon incomplète les algorithmes.</td>
                <td class="table-success">Optimiser systématiquement les algorithmes pour maximiser les performances.</td>
            </tr>
            <tr>
                <td>Ignorer l'intérêt du refactoring et des patterns de conception.</td>
                <td>Effectuer du refactoring sans intégrer les patterns design appropriés.</td>
                <td class="table-success">Intégrer dès la conception les patterns design pertinents pour améliorer la qualité du code.</td>
            </tr>
            <tr class="table-secondary">
                <td colspan="3" class="ac-title fw-semibold">AC3 : Comprendre les enjeux et moyens de sécurisation des données et du code</td>
            </tr>
            <tr>
                <td>Ignorer les principes de sécurisation des données et du code.</td>
                <td>Comprendre de façon basique ou appliquer partiellement les mesures de sécurité.</td>
                <td class="table-success">Maîtriser et appliquer systématiquement les bonnes pratiques de sécurisation des données et du code.</td>
            </tr>
            <tr>
                <td>Négliger l'utilisation de fonctions de chiffrement ou de sécurisation.</td>
                <td>Appliquer de manière incomplète les mesures de sécurité ou se limiter aux données sensibles.</td>
                <td class="table-success">Implémenter des techniques de sécurisation robustes en PHP, SQL et dans des architectures MVC.</td>
            </tr>
            <tr>
                <td>Omettre de sécuriser la collecte et la sauvegarde des données.</td>
                <td>Sécuriser partiellement l’ensemble des données.</td>
                <td class="table-success">Sécuriser efficacement la collecte, le traitement et la sauvegarde de toutes les données.</td>
            </tr>
            <tr class="table-secondary">
                <td colspan="3" class="ac-title fw-semibold">AC4 : Évaluer l’impact environnemental et sociétal des solutions proposées</td>
            </tr>
            <tr>
                <td>Ignorer l'impact environnemental et sociétal des solutions proposées.</td>
                <td class="table-warning">Prendre en compte certains aspects environnementaux et sociétaux de manière incomplète.</td>
                <td>Évaluer et intégrer de façon complète l'impact environnemental et sociétal dans les solutions proposées.</td>
            </tr>
            <tr>
                <td>Omettre d'analyser ou de proposer des solutions responsables.</td>
                <td>Analyser de manière incomplète ces impacts ou proposer des solutions partiellement responsables.</td>
                <td class="table-success">Proposer des solutions respectueuses de l'environnement et socialement responsables, en justifiant les choix effectués.</td>
            </tr>
        </tbody>
    </table>
</div>