<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="4" class="skill-title fw-bold fs-5">
					📚 Compétence 7 : Culture générale
				</td>
			</tr>
			<tr>
				<th scope="col">Domaine</th>
				<th scope="col">Objectif</th>
				<th scope="col">État d'avancement</th>
				<th scope="col">Image</th>
			</tr>
		</thead>
		<tbody>
			<!-- Culture Générale -->
			<tr class="table-secondary">
				<td colspan="4" class="ac-title fw-semibold">Culture Générale</td>
			</tr>
			<tr>
				<td>Géographie</td>
				<td>Apprendre les régions et principales villes françaises</td>
				<td>
					<span class="badge bg-success">Atteint</span>
				</td>
				<td>
					<img src="https://mediatheque.rillieuxlapape.fr/images/Ressources_num/jeux/geo_small.jpg" alt="Logo geoguessr" width="60"><br>
					Utilisation de Geoguessr pour s'entraîner à la géographie française.
				</td>
			</tr>
			<tr>
				<td>Histoire de l'informatique</td>
				<td>S'intéresser à l'histoire de l'informatique et connaître les grandes dates</td>
				<td>
					<span class="badge bg-warning text-dark">En cours</span>
				</td>
				<td>
					Prolongation du cour de Virtualisation avec l'histoire de celle-ci<br>
				</td>
			</tr>
			<!-- Compétences Rédactionnelles -->
			<tr class="table-secondary">
				<td colspan="4" class="ac-title fw-semibold">Compétences Rédactionnelles</td>
			</tr>
			<tr>
				<td>Expression écrite</td>
				<td>Avancer sur la qualité de l'écrit (orthographe, grammaire, conjugaison)</td>
				<td>
					<span class="badge bg-success">Atteint</span>
				</td>
				<td>
					Exemple : rédaction d’un rapport de stage.<br>
				</td>
			</tr>
			<tr>
				<td>Ecrit +</td>
				<td>Avancer sur la qualité de l'écrit (orthographe, grammaire, conjugaison)</td>
				<td>
					<span class="badge bg-warning text-dark">En cours</span>
				</td>
				<td>
					354/736 points
					<img src="https://app.tests.ecriplus.fr/images/ecriplus-tests.svg" alt="Document" width="60">
				</td>
			</tr>
			<!-- Méthodologie -->
			<tr class="table-secondary">
				<td colspan="4" class="ac-title fw-semibold">Méthodologie</td>
			</tr>
			<tr>
				<td>Organisation</td>
				<td>S'imposer un rythme de travail avec des outils adaptés</td>
				<td>
					<span class="badge bg-success">Atteint</span>
				</td>
				<td>
					Utilisation régulière de l'agenda avec rappel pour planifier les tâches hebdomadaires suivi d'un chronomètre.
				</td>
			</tr>
			<tr>
				<td>Communication</td>
				<td>Appréhender la communication (orale et écrite) dans le cadre des projets</td>
				<td>
					<span class="badge bg-warning text-dark">En cours</span>
				</td>
				<td>
					Participation à des réunions d’équipe, prise de parole en TD.<br>
				</td>
			</tr>
		</tbody>
	</table>
</div>
