<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead
			class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">♟ Compétence 2 : Optimiser des applications</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Analyser un problème avec méthode (découpage en éléments algorithmiques simples, structure de données ...)
				</td>
			</tr>
			<tr>
				<td>Réalisation d'algorithmes avec une complexité trop importante</td>
				<td>Conception d'algorithmes parfois confuse</td>
				<td>Capable de séparer un problème en sous-problèmes</td>
			</tr>
			<tr>
				<td>Réalisation sans utiliser des outils d'analyse/conception</td>
				<td>Difficulté à expliquer le fonctionnement d'un algorithme</td>
				<td>Utilisation d'outils d'analyse et de conception (UML, etc.)</td>
			</tr>
			<tr>
				<td>Utilisation de structures de données inappropriées</td>
				<td>Réussit à adapter un algorithme à son contexte</td>
				<td>Utilisation de structures de données appropriées</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 Comparer des algorithmes pour des problèmes classiques (tris simples, recherche ...)
				</td>
			</tr>
			<tr>
				<td>Ne parvient pas à déterminer la complexité d'un algorithme</td>
				<td>Réussit à identifier la complexité d'un algorithme</td>
				<td>Identifie la complexité des algorithmes</td>
			</tr>
			<tr>
				<td>Ne comprend pas les enjeux de la complexité algorithmique</td>
				<td>Réussit à comparer l'évolution des fonctions mathématiques</td>
				<td>Compare l'évolution des fonctions mathématiques</td>
			</tr>
			<tr>
				<td></td>
				<td>Justifie partiellement les choix algorithmiques</td>
				<td>Choisit des solutions algorithmiques adaptées</td>
			</tr>
			<tr>
				<td>Confusion entre les différentes unités de complexités</td>
				<td>Commence à maîtriser les ordres de grandeur</td>
				<td></td>
			</tr>
			<tr>
				<td>Confusion entre complexité spatiale et temporelle</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Analyse de complexité parfois approximative</td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Formaliser et mettre en oeuvre des outils mathématiques pour l'informatique
				</td>
			</tr>
			<tr>
				<td>Incompréhension des formules et outils mathématiques</td>
				<td>Raisonnements mathématiques globalement corrects</td>
				<td>Prouve et explique les démarches mathématiques</td>
			</tr>
			<tr>
				<td>Confusion dans l'application des formules</td>
				<td>Progrès dans l'application des formules</td>
				<td>Utilise les propriétés mathématiques adéquates</td>
			</tr>
			<tr>
				<td>Mauvaises/faibles justifications</td>
				<td>Justifications parfois approximatives</td>
				<td>Justifications complètes et rigoureuses</td>
			</tr>
			<tr>
				<td>Erreurs de calculs même avec des outils de vérification</td>
				<td>Erreurs de calculs dues à l'inattention</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Maîtrise partielle du formalisme mathématique</td>
				<td>Maîtrise le formalisme mathématique</td>
			</tr>
			<tr>
				<td></td>
				<td>Vérification des résultats parfois manquante</td>
				<td>Vérification systématique des résultats</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Raisonnements mathématiques rigoureux</td>
			</tr>
		</tbody>
	</table>
</div>