<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					🚨 Compétence 3 : Administrer des systèmes informatiques communicants complexes
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Identifier les différents composants (matériels et logiciels) d'un système numérique
				</td>
			</tr>
			<tr>
				<td>Méconnaissance du vocabulaire technique anglais</td>
				<td>Connaît partiellement le vocabulaire anglais technique</td>
				<td>Connaît le vocabulaire technique en anglais et est capable à répondre aux questions techniques</td>
			</tr>
			<tr>
				<td>Manque de préparation pour les présentations orales</td>
				<td>Préparation moyenne des présentations orales</td>
				<td>Préparation soignée des présentations</td>
			</tr>
			<tr>
				<td>Manque de structuration dans les explications</td>
				<td>Explications parfois confuses</td>
				<td>Explications claires et structurées</td>
			</tr>
			<tr>
				<td>Discours décousu et confus</td>
				<td>Maîtrise partielle du sujet présenté</td>
				<td>Maîtrise complète du sujet présenté</td>
			</tr>
			<tr>
				<td>Difficulté à expliquer un projet technique</td>
				<td>Parle et explique un projet en anglais en hésitant sur les termes techniques</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Expression orale approximative en anglais</td>
				<td>Aisance dans l'expression orale en anglais</td>
			</tr>
			<tr>
				<td>Ne sait pas ce qu'est un système numérique</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 Utiliser les fonctionnalités de base d'un système multitâches / multiutilisateurs
				</td>
			</tr>
			<tr>
				<td>Ne connaît aucune commande Linux</td>
				<td>Connaît les commandes Linux principales</td>
				<td>Maîtrise les commandes Linux sans aide extérieure</td>
			</tr>
			<tr>
				<td>A fréquemment besoin d'aide pour les exercices</td>
				<td>Besoin occasionnel d'aide pour certains exercices</td>
				<td>Capable de résoudre des problèmes complexes</td>
			</tr>
			<tr>
				<td></td>
				<td>Autonomie partielle dans l'utilisation de Linux</td>
				<td>Totalement autonome dans l'utilisation de Linux</td>
			</tr>
			<tr>
				<td></td>
				<td>Compréhension moyenne des concepts de base</td>
				<td>Maîtrise des concepts de base</td>
			</tr>
			<tr>
				<td></td>
				<td>Pratique régulière mais incomplète des commandes</td>
				<td>Pratique régulière des commandes Linux</td>
			</tr>
			<tr>
				<td></td>
				<td>Commet parfois des erreurs dans l'exécution</td>
				<td>Exécution précise et sans erreur des commandes</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Installer et configurer un système d'exploitation et des outils de développement
				</td>
			</tr>
			<tr>
				<td>Recopie sans comprendre</td>
				<td>Sait chercher les informations pertinentes</td>
				<td>Résolution autonome des problèmes d'installation</td>
			</tr>
			<tr>
				<td></td>
				<td>Installe et configure des logiciels fonctionnels</td>
				<td>Met en place des machines virtuelles sans problème</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Méthodologie d'installation rigoureuse</td>
			</tr>
			<tr>
				<td>Connaît uniquement les noms des commandes</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Mauvaise organisation des données</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 4 Configurer un poste de travail dans un réseau d'entreprise
				</td>
			</tr>
			<tr>
				<td>Manque de documentation sur les configurations</td>
				<td>Guide confus sur certaines parties</td>
				<td>Fournit des guides clairs d'installation et de configuration</td>
			</tr>
			<tr>
				<td>Configurations réseau incomplètes ou erronées</td>
				<td>Configurations réseau globalement correctes</td>
				<td></td>
			</tr>
			<tr>
				<td>Difficulté à appliquer les politiques d'entreprise</td>
				<td>Politiques d'entreprise partiellement appliquées</td>
				<td></td>
			</tr>
			<tr>
				<td>Besoins de l'entreprise partiellement compris</td>
				<td></td>
				<td>Comprend les besoins de l'entreprise</td>
			</tr>
			<tr>
				<td>Absence de tests de bon fonctionnement</td>
				<td></td>
				<td>Présence de test de fonctionnement</td>
			</tr>
			<tr>
				<td>Logiciels vitaux manquants</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Configurations non sécurisées</td>
				<td></td>
				<td></td>				
			</tr>
		</tbody>
	</table>
</div>
