<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead
			class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					🧩 Compétence 1 : Réaliser un développement d'application
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Implémenter des conceptions simples
				</td>
			</tr>
			<tr>
				<td>Ne pas savoir ce qu’est un cahier des charges</td>
				<td>Respect partiel des besoins clients</td>
				<td>Implémentation respectant le cahier des charges</td>
			</tr>
			<tr>
				<td>Absence de commentaires</td>
				<td>Commentaires inutiles</td>
				<td>Commente le code de manière pertinente</td>
			</tr>
			<tr>
				<td>Noms de variables aléatoires</td>
				<td>Noms de variables confus</td>
				<td>Utilise des noms de variables clairs et concis</td>
			</tr>
			<tr>
				<td>Besoin d'aide tout au long de l'implémentation</td>
				<td>Maîtrise partielle des langages étudiés</td>
				<td>Respecte les conventions de structure et de nommage, Maîtrise l'indentation et la lisibilité du code</td>
			</tr>
			<tr>
				<td>Ne sait pas utiliser les environnements de développement</td>
				<td>Difficulté avec certains environnements de développement (IDE)</td>
				<td>Utilise efficacement divers environnements de développement (IDE)</td>
			</tr>
			<tr>
				<td>Incapable de développer des programmes simples dans différents langages</td>
				<td>Développe des programmes simples dans un seul langage</td>
				<td>Capable de développer des programmes simples dans différents langages</td>
			</tr>
			<tr>
				<td>Fautes d'orthographe/grammaire</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 élaborer des conceptions simples
				</td>
			</tr>
			<tr>
				<td>Incompréhension de l'algorithme</td>
				<td>Besoin de se référer au cours sur certains points d'algorithmie</td>
				<td>Réflexion algorithmique efficace</td>
			</tr>
			<tr>
				<td>Non-compréhension des notions de logique algorithmique</td>
				<td>Utilise partiellement les outils de représentation (UML, algorithmique)</td>
				<td>Maîtrise l'outil UML relatifs à l'algorithmie</td>
			</tr>
			<tr>
				<td>Programmation orientée objet non cohérente</td>
				<td>Conceptualise des structures de classes orientées objet simples</td>
				<td>Programmation orientée objet cohérente</td>
			</tr>
			<tr>
				<td>Utilisation nulle ou faible des outils d'analyse et de représentation</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Maîtrise les boucles itératives de base</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Comprend les principes de typage des variables de base</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Utilise correctement les structures de contrôle simples</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Conceptualise des structures graphiques et algorithmiques complètes</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Faire des essais et évaluer leurs résultats en regard des spécifications
				</td>
			</tr>
			<tr>
				<td>Absence de prise en compte de la complexité</td>
				<td>Comprend les différentes complexités algorithmiques</td>
				<td>Prend en compte la complexité algorithmique</td>
			</tr>
			<tr>
				<td>Tests hors sujet</td>
				<td>Tests approximatifs pour le sujet</td>
				<td>Respecte les spécifications lors des tests</td>
			</tr>
			<tr>
				<td>Absence de conclusion</td>
				<td>Conclusion confuse par rapport au sujet</td>
				<td>Produit des conclusions pertinentes</td>
			</tr>
			<tr>
				<td>Absence de tests</td>
				<td></td>
				<td>Interprète correctement les résultats des tests</td>
			</tr>
			<tr>
				<td>Fautes orthographiques/grammaticales</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Absence de prise en compte des spécifications</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 4 Développer des interfaces utilisateurs
				</td>
			</tr>
			<tr>
				<td>Absence de mise en page</td>
				<td>Mauvaise mise en page</td>
				<td>Bonne ergonomie des interfaces</td>
			</tr>
			<tr>
				<td>Fautes d'orthographe/grammaire</td>
				<td>Erreurs d'étourderie
					Erreurs de syntaxe mineures</td>
				<td></td>
			</tr>
			<tr>
				<td>Non compréhension des langages HTML, CSS</td>
				<td>Mauvaise utilisation des balises HTML/CSS</td>
				<td>Appropriation totale des structures et balises HTML/CSS</td>
			</tr>
			<tr>
				<td>Non respect de la charte graphique</td>
				<td></td>
				<td>Respect d'une charte graphique</td>
			</tr>
			<tr>
				<td>Non compréhension de la structure et de l'utilité des IHM</td>
				<td></td>
				<td>Réalise des maquettes avant la conception</td>
			</tr>
			<tr>
				<td></td>
				<td>Conçoit une page web simple</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
