<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					🪛 Compétence 5 : Conduire un projet
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Appréhender les besoins du client et de l'utilisateur
				</td>
			</tr>
			<tr>
				<td>Mots parasites / ambigus</td>
				<td>Aisance orale moyenne</td>
				<td>S'exprime aisément à l'oral</td>
			</tr>
			<tr>
				<td>Incompréhension des enjeux de l'expérience utilisateur</td>
				<td>Maîtrise partielle du développement d'interfaces utilisateur</td>
				<td>Réalise des analyses d'expérience utilisateur (UX)</td>
			</tr>
			<tr>
				<td></td>
				<td>Connaissance et maîtrise partielle des types de communication</td>
				<td>Maîtrise les différents types de communication</td>
			</tr>
			<tr>
				<td>Manque de préparation pour les entretiens clients</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Difficulté à comprendre les besoins exprimés</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Absence d'analyse des besoins utilisateurs</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Manque d'écoute active lors des entretiens</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Maîtrise les différents enjeux de la communication</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 Mettre en place les outils de gestion de projet
				</td>
			</tr>
			<tr>
				<td>Méconnaissance des outils de gestion de projet</td>
				<td>Utilisation d'outils de gestion au milieu du projet</td>
				<td>Mise en place rigoureuse d'outils de planification dès le début</td>
			</tr>
			<tr>
				<td>Absence d'utilisation d'outils de planification</td>
				<td>Connaissance partielle des différents outils (PORTER, GANTT, etc.)</td>
				<td>Connaissance et maîtrise des outils clés (PORTER, GANTT, FFOM, etc.)</td>
			</tr>
			<tr>
				<td>Manque d'organisation et de suivi du projet</td>
				<td>Planification et suivi approximatifs du projet</td>
				<td>Suivi méthodique de l'avancement du projet</td>
			</tr>
			<tr>
				<td>Difficulté à respecter les délais</td>
				<td>Respect partiel des délais</td>
				<td>Respect strict des délais</td>
			</tr>
			<tr>
				<td>Lancer un projet sans analyse préalable</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Identifier les acteurs et les différentes phases d'un cycle de développement
				</td>
			</tr>
			<tr>
				<td>Méconnaissance des différents acteurs d'un projet</td>
				<td>Trouve les différents acteurs dans un système</td>
				<td></td>
			</tr>
			<tr>
				<td>Utilité d'une phase de conception incomprise</td>
				<td></td>
				<td>Réalise des dossiers de spécifications fonctionnelles</td>
			</tr>
			<tr>
				<td>Manque de documentation sur le cycle de vie</td>
				<td></td>
				<td>Connaît les 7 étapes du cycle de vie logiciel</td>
			</tr>
			<tr>
				<td>Confusion sur les rôles et responsabilités</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>Difficulté à ordonner les phases de développement</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Conception et utilisation de bases de données</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
