<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					📚compétence 7 : Culture générale
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC.1 Développer ses connaissances générales
				</td>
			</tr>
			<tr>
				<td>Manque de veille sur l'actualité générale</td>
				<td>
					Curiosité intellectuelle limitée,				
					Intérêt sélectif pour certains sujets,
					Efforts limités pour sortir de sa zone de confort,
					Connaissances culturelles restreintes</td>
				<td>
					Ouverture d'esprit aux nouvelles idées,
					Capacité à faire des liens entre différents domaines
				</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC.2 Corriger ses faiblesses
				</td>
			</tr>
			<tr>
				<td>Déni de ses lacunes et faiblesses</td>
				<td>
					Auto-critique et remise en question limitées,
					Efforts irréguliers pour combler ses faiblesses,
					Persévérance moyenne face aux difficultés,
					Motivation fluctuante selon les obstacles
				</td>
				<td>Mise en œuvre de stratégies d'apprentissage efficaces</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC.3 Approfondir ses connaissances acquises
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					Approfondissement partiel des notions acquises,
					Recherches complémentaires occasionnelles,
					Manque de constance dans l'approfondissement
				</td>
				<td>Capacité à établir des liens entre différents domaines</td>
			</tr>
		</tbody>
	</table>
</div>
