{# {% block skill1 %} #}
<div class="skill container my-4">
    <table class="table table-bordered text-center align-middle scoring">
        <thead class="table-light">
            <!-- Titre de la compétence -->
            <tr>
                <td colspan="3" class="skill-title fw-bold fs-5">Compétence 2</td>
            </tr>
            <!-- Titre des colonnes -->
            <tr>
                <th scope="col">Non Acquis</th>
                <th scope="col">En cours d'acquisition</th>
                <th scope="col">Acquis</th>
            </tr>
        </thead>
        <tbody>
            <!-- Séparateur de l'élément de l'apprentissage critique -->
            <tr class="table-secondary">
                <td colspan="3" class="ac-title fw-semibold">AC1 : Élaborer et implémenter les spécifications fonctionnelles et non fonctionnelles à partir des exigences</td>
            </tr>
            <!-- Contenu des trois colonnes -->
            <tr class="ac">
                <td>Ne pas savoir ce qu’est un cahier des charges</td>
                <td>Respect partiel des besoins clients</td>
                <td>Implémentation respectant le cahier des charges</td>
            </tr>
        </tbody>
    </table>
</div>
{# {% endblock %} #}
