<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					🔐 Compétence 4 : Gérer des données de l'information
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Mettre à jour et interroger une base de données relationnelle (en requêtes directes ou à travers une application)
				</td>
			</tr>
			<tr>
				<td>Requêtes non fonctionnelles</td>
				<td>Requêtes trop complexes mais fonctionnelles</td>
				<td>Écrit des requêtes SQL fonctionnelles</td>
			</tr>
			<tr>
				<td>Fautes orthographiques/grammaticales</td>
				<td>Erreurs sur le choix des mots dans le langage</td>
				<td></td>
			</tr>
			<tr>
				<td>Non connaissance de certaines requêtes principales</td>
				<td></td>
				<td>Maîtrise les requêtes principales</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 Visualiser des données
				</td>
			</tr>
			<tr>
				<td>Réutilise pas les mêmes mots dans le DD et le MCD</td>
				<td>Erreurs sur le choix des verbes dans le MCD/MLD</td>
				<td>Créer des graphes de données sans erreur</td>
			</tr>
			<tr>
				<td>Oublie des conventions dans le DD</td>
				<td>Données inutiles dans le dictionnaire de données</td>
				<td>Conçoit un dictionnaire de données concis</td>
			</tr>
			<tr>
				<td>Noms mal choisis dans le dictionnaire de données</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Concevoir une base de données relationnelle à partir d'un cahier des charges
				</td>
			</tr>
			<tr>
				<td>Incompréhension du cahier des charges</td>
				<td>Compréhension approximative du cahier des charges</td>
				<td>Compréhension totale des demandes du cahier des charges</td>
			</tr>
			<tr>
				<td>Modélisation incohérente des données</td>
				<td>Modélisation des données globalement correcte</td>
				<td>Modélisation des données cohérente et optimisée</td>
			</tr>
			<tr>
				<td>Absence de dictionnaire de données</td>
				<td>Dictionnaire de données partiel</td>
				<td>Dictionnaire de données complet et bien structuré</td>
			</tr>
			<tr>
				<td>Schéma relationnel incomplet ou erroné</td>
				<td>Schéma relationnel avec quelques erreurs mineures</td>
				<td>Schéma relationnel normalisé et sans erreur</td>
			</tr>
			<tr>
				<td>Choix inadaptés des types de données</td>
				<td>Choix des types de données parfois inadéquats</td>
				<td>Choix judicieux des types de données adaptés</td>
			</tr>
			<tr>
				<td>Base de données confuse par rapport au sujet</td>
				<td></td>
				<td>Respect strict des contraintes d'intégrité</td>
			</tr>
			<tr>
				<td></td>
				<td>Requêtes d'implémentation de données précises mais partielles</td>
				<td>Implémentation rapide et sans accroc des données</td>
			</tr>
		</tbody>
	</table>
</div>
