<div class="skill container">
	<table class="table table-bordered text-center align-middle scoring">
		<thead class="table-light">
			<tr>
				<td colspan="3" class="skill-title fw-bold fs-5">
					📞 Compétence 6 : Collaborer au sein d'une équipe informatique
				</td>
			</tr>
			<tr>
				<th scope="col">Non Acquis</th>
				<th scope="col">En cours d'acquisition</th>
				<th scope="col">Acquis</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 1 Appréhender l'écosystème numérique
				</td>
			</tr>
			<tr>
				<td>Manque de connaissances sur les outils à disposition</td>
				<td>Connaissance partielle des outils mis à disposition</td>
				<td>Adapte ses outils numériques à ses besoins</td>
			</tr>
			<tr>
				<td>N'utilise pas d'outils de validation</td>
				<td>Utilisation occasionnelle d'outils de validation (W3C, etc.)</td>
				<td>Utilise souvent des outils de validation (W3C, etc.)</td>
			</tr>
			<tr>
				<td></td>
				<td>Respect partiel des règles d'ergonomie</td>
				<td>Respecte les règles d'ergonomie et d'esthétisme</td>
			</tr>
			<tr>
				<td></td>
				<td>Efforts limités pour l'esthétisme des réalisations</td>
				<td></td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 2 Découvrir les aptitudes requises selon les différents secteurs informatiques
				</td>
			</tr>
			<tr>
				<td>Aucune utilisation de schémas/tableaux</td>
				<td>Utilise les notions vues en cours</td>
				<td>Utilisation efficace et intelligente des langages informatiques</td>
			</tr>
			<tr>
				<td></td>
				<td>Compréhension partielle des besoins clients</td>
				<td>Bonne compréhension des besoins clients/utilisateurs</td>
			</tr>
			<tr>
				<td></td>
				<td>Respecte les règles de rédaction professionnelle</td>
				<td>Respect total des règles de rédaction professionnelle</td>
			</tr>
			<tr>
				<td>Utilisation maximale des sites/applications</td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Autonomie et méthodologie dans les réalisations</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 3 Identifier les statuts, les fonctions et les rôles de chaque membre d'une équipe pluridisciplinaire
				</td>
			</tr>
			<tr>
				<td>Pas d'organisation en groupe</td>
				<td>Respect partiel du rôle dans le groupe</td>
				<td>Respect total de son rôle et statut dans le groupe</td>
			</tr>
			<tr>
				<td>Ne respecte pas la tâche attribuée</td>
				<td>Réalisation de la tâche attribuée mais déviation fréquente</td>
				<td></td>
			</tr>
			<tr>
				<td>Ne respecte pas le leader du groupe</td>
				<td>Besoin d'encadrement régulier par le leader</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Bonne répartition des tâches en tant que leader</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Réactivité et aisance en tant que porte-parole</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Capacité à mener le groupe de manière efficace</td>
			</tr>
			<tr class="table-secondary">
				<td colspan="3" class="ac-title fw-semibold">
					AC 4 Acquérir les compétences interpersonnelles pour travailer en équipe
				</td>
			</tr>
			<tr>
				<td>Pas ou peu de participation/communication</td>
				<td>Tendance à travailler seul mais s'adapte en équipe</td>
				<td>Grande écoute et communication au sein de l'équipe</td>
			</tr>
			<tr>
				<td>N'apporte aucune participation pertinente</td>
				<td>Exprime ses idées même si non pertinentes</td>
				<td>Apport efficace de ses connaissances au travail collectif</td>
			</tr>
			<tr>
				<td>Tendance à repousser le travail</td>
				<td>Travail correct mais ne satisfait pas toutes les attentes</td>
				<td></td>
			</tr>
			<tr>
				<td>N'écoute pas ses camarades</td>
				<td></td>
				<td>Reconnaissance des torts et gestion des conflits</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td>Patience et ouverture d'esprit envers les autres</td>
			</tr>
		</tbody>
	</table>
</div>
