{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon Portfolio{% endblock %}

{% block content %}
    <h2 class="mb-4">Bienvenue</h2>
    <p>Voici mon portfolio personnel réalisé PHP, HTML, CSS, BOOTSTRAP, TWIG avec des composants Symfony.</p>
{% endblock %}
