{% extends 'base.html.twig' %}

{% block title %}Étude: année {{ year }} - Mon Portfolio{% endblock %}

{% block content %}
    <nav>
        <ul class="nav nav-underline justify-content-center">
            {% for i in skills %}
                <li class="nav-item">
                    <a class="nav-link" href="?year={{ year }}&skill={{ i }}">Skill {{ i }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    {% if skill != null %}
        {% include 'partials/studies/year' ~ year ~'/skill' ~ skill ~'.html.twig'%}
    {% else %}
        {% include 'partials/studies/year' ~ year ~'/skill1.html.twig'%}
    {% endif %}
{% endblock %}